.asama-cubuk[data-kova="erken"]     { background: #4db6ac; }
.asama-cubuk[data-kova="zamaninda"] { background: #66bb6a; }
.asama-cubuk[data-kova="azasan"]    { background: #ffb74d; }
.asama-cubuk[data-kova="cokasan"]   { background: #e57373; }